{% load static %}
{% load i18n %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Account" %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% cache 10 header%}
    <header class="header">
        {% block header_container %}
        <div class="container header_container">
            <div class="header_logo logo">
                <a href="{% url 'shop:main' %}" class="header-logo__link link"><img class="header-logo__img" src="../../media/logo.jpeg" alt="logo"></a>
            </div>
            <div class="header_nav">
                <div class="nav_auth flex">
                    {% if request.user.is_authenticated %}
                        <a class="nav_link__account" href="{{ request.user.customer.get_absolute_url }}">{% trans "Account" %}</a>
                        <a class="nav_link__sign_out" href="{% url 'users:logout' %}">{% trans "Sign out" %}</a>
                    {% else %}
                        <a role="button" href="{% url 'users:login' %}">{% trans "Sign in" %}</a>
                        <a role="button" href="{% url 'users:register' %}">{% trans "Join" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
    </header>
    {% endcache %}
    <main>
        <div class="container main_container">
            {% if customer.user.id == request.user.id %}
                <div class="wrap">
                    <ul class="customer_info">
                        <li class="customer_info__item customer_info__header">
                            <div class="customer_info__wrap flex">
                                <h2 class="customer_name customer_info__title">{{customer.first_name}} {{ customer.last_name }}</h2>
                                <p class="customer_status">{{ customer.status }} {% trans "status" %}</p>
                            </div>
                        </li>
                        <li class="customer_info__item customer_info__balance">
                            <h2 class="customer_balance customer_info__title">{% trans "Account balance" %}</h2>
                            <p class="balance"><span class="prices"></span> ₽</p>
                            <div class="balance balance_form">
                                <form method="post" action="" class="balance_form">
                                    {% csrf_token %}
                                    <div class="balance_form_wrap flex">
                                        {{ balance_form.as_p }}
                                    </div>
                                    <button type="submit">{% trans "Replenish" %}</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="forbidden">
                    <p class="msg_forbidden"> {% trans "Access is denied" %}</p>
                </div>
            {% endif %}
        </div>
    </main>
    {% cache 10 footer%}
    <footer class="footer">
        {% block footer_container %}
        <div class="container footer_container">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go">
            </form>
        </div>
        {% endblock %}
    </footer>
    {% endcache %}

    <script>
        function divideNumberByPieces(x, delimiter) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, delimiter || " ");
        }
        for(i in document.getElementsByClassName('prices')){
            document.getElementsByClassName('prices')[i].innerHTML = divideNumberByPieces({{ customer.balance }});
        }
    </script>
</body>
</html>